.container{
  max-width: 960px;
  margin: 0 auto;
}
.App{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title{
  text-align: center;
}

.title h1{
  font-weight: 400;
}

.joke{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: .6rem;
  padding: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);
  box-shadow: -3px 3px 10px 1px rgba(208,208,208.75);
  opacity: 0;
  margin-left: 30%;
}


.show-joke{
  opacity: 100;
  width: 100%;
  margin-left: 0;
  -webkit-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  
}

.joke__icon{
  position: relative;
}

.joke__icon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.joke__value{
  padding-left: 5rem;
  font-size: 1.2rem;
}

.loader{
  text-align: center;
}